.boid {
  width: 100%;
}

.boid-form {
  position: absolute;
  top: 200px;
  right: 70vw;
  width: 250px;

  &.right-col {
    left: 70vw;
  }

  .tool-panel {
    text-align: left;
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;

    .slider-value {
      margin-left: 20px;
      width: 40px;
      padding-left: 5px;
    }
    .number-value {
      width: 50px;
      margin-left: 5px;
      margin-right: 10px;
    }
    .checkbox {
      text-align: left;
    }
  }
}
